# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# LaTeX auxiliary files
*.aux
*.log
*.lof
*.lot
*.out
*.toc
*.synctex.gz

# IDE
.idea/
.vscode/

# Keras / Matplotlib cache
.keras/
.matplotlib/
